fastapi==0.118.0
numpy==2.3.3
opencv_python==4.12.0.88
opencv_python==4.8.0.76
opencv_python_headless==4.11.0.86
Pillow==11.3.0
reportlab==4.4.4
torch==2.2.2+cu118
ultralytics==8.3.204
uvicorn==0.37.0
